@page
@model ASP.NET_22._10._09.Pages.Miasta.IndexModel

@{
    ViewData["Title"] = "Miasta";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Miasto[0].Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miasto[0].DataZałożenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miasto[0].Populacja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miasto[0].Powierzchnia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miasto[0].Województwo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Miasto) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataZałożenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Populacja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Powierzchnia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Województwo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
